* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  width: 100vw;
  height: auto;
  background-color: #e4dcdc;

  .navigation {
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 12px;

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 12px;

      li {

        a {
          text-decoration: none;
          color: rgb(58, 55, 55);
          font-weight: 600;
        }
      }
    }
  }
}